.BookPopperItem {
  width: 90%;
  display: flex;
}

.BookPopperItem__content {
  margin-left: 12px;
  width: 100%;
}

.BookPopperItem__img {
  width: 37px;
}

.BookPopperItem__content__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
