.BookItem {
  position: relative;
  width: 241px;
  margin: 20px;
}

.BookItem__media {
  position: relative;
  max-height: 330.4px;
  min-height: 330.4px;
  width: 100%;
}

.BookItem__title,
.BookItem__author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BookItem__media__icon {
  position: absolute !important;
  top: 5px;
  right: 5px;
}
