.FilterMenu__form {
  display: flex;
  flex-direction: column;
}

.FilterMenu__input {
  margin: 5px 10px !important;
}

.FilterMenu__button_group {
  display: flex;
  margin: 5px 10px;
  justify-content: space-between;
}
