.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #fff9f0;
  margin-bottom: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.linkHeader {
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #44003e;
  text-align: center;
  margin: 20px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.linkHeader:hover {
  color: rgba(42, 0, 39, 0.86);
}

.iconContainer {
  display: flex;
  align-items: center;
}
