.BookList {
  display: flex;
  flex-wrap: wrap;
  width: 74%;
  margin: 30px auto;
  min-height: 200px;
}

.BookList_empty {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1536px) {
  .BookList {
    width: 92.5%;
  }
}

@media (max-width: 1440px) {
  .BookList {
    width: 98.8%;
  }
}

@media (max-width: 1280px) {
  .BookList {
    width: 89.1%;
  }
}
